##Part 2

- Start by creating a new Notebook for this assignment.
- Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas
- Process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [1]:
import pandas as pd
import requests

In [2]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_data = requests.get(wiki)

df_html = pd.read_html(wiki_data.content, header=0)[0]
df = df_html[df_html.Borough != 'Not assigned']

df.head(10)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

Find Boroughs with not assigned Neighborhoods

In [3]:
df.loc[df.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

Just in case if there will be changes in post code listing and Neighbourhoods eith Not assigned will appear, we change it with the value of Borough

In [4]:
# df.Neighbourhood.replace('Not assigned',df.Borough,inplace=True) #use this only if in previous step list appears

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma.

In [5]:
df_2 = df.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x: ','.join(x))
df_2 = df_2.reset_index()
df_2.rename(columns = {'Postal Code':'PostalCode'}, inplace = True)
df_2.rename(columns = {'Neighbourhood':'Neighborhood'}, inplace = True)
df_2.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7        M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8        M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [6]:
df_2.shape

(103, 3)

#Adding coordinates

In [7]:
url = 'http://cocl.us/Geospatial_data'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Checking if length match to previously created df (if not something went wrong)

In [8]:
df_geo.shape

(103, 3)

Join two dataframes df_2 and df_geo

In [9]:
df_2 = df_2.join(df_geo.set_index('Postal Code'), on='PostalCode')
df_2.head(10)

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476
5        M1J  Scarborough  ...  43.744734 -79.239476
6        M1K  Scarborough  ...  43.727929 -79.262029
7        M1L  Scarborough  ...  43.711112 -79.284577
8        M1M  Scarborough  ...  43.716316 -79.239476
9        M1N  Scarborough  ...  43.692657 -79.264848

[10 rows x 5 columns]